
h5 {
    font-weight: bold; font-family:italic;color: white;font-size: 30px
}

a {
    color: white;
    font-size: 18px;
}


li {
    font-size: 25px;
    color: white
}
.image{
    height:35em; 
    background-size:cover;
    width:auto;
    background-image:url('https://images.wallpaperscraft.com/image/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_300x168.jpg');
    background-position:50% 50%;
}

label {
    color: black;
    font-size:15px;
}
h4 {
    color: black;
    font-family: 'Times New Roman', Times, serif
    
}
