h5 {
    font-weight: bold; font-family:italic;color: white;font-size: 30px
}

a {
    color: white;
    font-size: 18px;
}


li {
    font-size: 20px;
    color: white
}
h3 {
    font-size: 25px;
    color: black
}