
   <nav class="navbar navbar-expand-sm bg-dark" >
    <div class="navbar-brand" href="#">

        <h5>EXOTIC</h5>
    </div>
</nav>
<div>
<nav class="navbar navbar-expand-sm bg-success" >
            <ul class="navbar-nav ml-auto">
                <li class="active"><a routerLink="/adminuser">User</a>
                <li><a routerLink="/admintrainer">Trainer</a>
                <li ><a routerLink="/technology">Technology</a>
            </ul>
        
 </nav>
</div>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
                  <ul class="nav nav-pills nav-justified">        
                          <li align="center"><h3 style="color: beige">Block Trainer</h3></li>
                  </ul>
          </div>
        </div>
</nav>
    
        <div class="container">
        <div class="card my-5">
                <div class="card-body">
                  <table class="table table-hover" id="myTable" height="100"  style="background-color: rgb(226, 219, 123)"  >
                    <thead class="thead-dark">
                      <tr style="background-color: crimson">
                        <th>Profile</th>
                        <th>Mentor Id</th>
                        <th>Mentor Name</th>
                        <th>Email</th>
                        <th>Experience</th>
                        
                        <th>Trainings Completed</th>
                        
                        <th>Propose</th>
              
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let one of search1">
                        <td><a routerLink="/profile1"><img src="../../assets/male.png" height="80" width="80"></a></td>
                        <td>{{ one.mentorId }}</td>
                        <td>{{ one.mentorName }}</td>
                        <td>{{ one.mentorEmail }}</td>                       
                        <td>{{ one.mentorYearsExp}} Years</td>
                        <td>{{ one.trainings}} Trainings</td>
                       
                        <td><button  class="btn btn-danger navbar-btn" (click)="deleteMentor(one.mentorId)"data-toggle="modal" data-target="#myModal">Block</button>
          
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div></div>
        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Blocked</h4>
                    </div>
                    <div class="modal-body">
                      <p>Blocked Successfully</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  </div>
                  </div>
    

