<div class="container">
    <div class="jumbotron" style=" background-color: white">
        <h2 style="text-align: center; font-family: 'Times New Roman', Times, serif;font-weight: bold; color: wh">
            Notifications</h2>
        <a data-toggle="modal" href="#myModal" style="text-decoration:none;">
            <div class="border fluid" rounded-sm>
                <!-- <div class="row"> -->

                <div class="mr-auto mt-3 mt-auto">
                    <p>Proposal for the course Bootstrap</p>
                </div>
                <div class="mr-auto mt-3 mt-auto">

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#my">Accept</button>

                </div>
            </div>
            <div class="border fluid" rounded-sm>
                <!-- <div class="row"> -->

                <div class="mr-auto mt-3 mt-auto">
                    <p>A user raised an request for the course Machine Learning.</p>
                </div>
                <div class="mr-auto mt-3 mt-auto">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#my">Accept</button>
                </div>
            </div>
            <div class="border fluid" rounded-sm>
                <!-- <div class="row"> -->

                <div class="mr-auto mt-3 mt-auto">
                    <p></p>
                </div>

            </div>
            <!-- The Modal -->
            <div class="modal" id="my">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <p>Propose accepted successfully</p>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                    </div>
                </div>
            </div>
            </a>
    </div>
</div>