<app-navbar></app-navbar>
<body background="assets/images/frontpagepic.jpg">
  <div class="container">
   
        <div class="row">
            <div class="col">
                    <select class="form-control">
                            <option value="0" checked>select-your-course</option>
                            <option value="1">Html & Css</option>
                            <option value="2">Javascript</option>
                            <option value="3">Angular</option>
                            <option value="3">Bootstrap</option>
                        </select>
            </div>
            <div class="col">
                    <select class="form-control">
                            <option value="0" checked>select-your-duration</option>
                            <option value="1">20 hrs</option>
                            <option value="2">30 hrs</option>
                            <option value="3">40 hrs</option>
                            <option value="3">60 hrs</option>
                        </select>    
               
            </div>
            <div class="col">
                <button class="btn btn-success" type="button" routerLink="/trainersearch">Search</button>


            </div>
        </div>
   
</div>

 