<app-navbar1>
</app-navbar1>
<div class="container" style="background-image: url('assets/images/tprofile.jpg')">
    <div class="jumbotron mr-1" style="margin:right; height: 700px;width: 300px;">

        <h2 style="font-weight: bold;font-family: 'Times New Roman', Times, serif">Leela Krishnan</h2>
        <ul style="font-size: 23px;">
            <a [routerLink]="['/trainerprofile']">
                <li style="color:black;font-family: 'Times New Roman', Times, serif">My Profile</li>
            </a>
            <a [routerLink]="['/trainercompleted']">
                <li style="color:black;font-family: 'Times New Roman', Times, serif">Completed Trainings</li>
            </a>
            <a [routerLink]="['/trainercurrent']">
                <li style="color:black;font-family: 'Times New Roman', Times, serif">Current Trainings</li>
            </a>
            <a [routerLink]="['/trainernotification']">
                <li style="color:black;font-family: 'Times New Roman', Times, serif">Notification</li>
            </a>
            <a [routerLink]="['/homepage']">
                <li style="color:black;font-family: 'Times New Roman', Times, serif">Log out</li>
            </a>
        </ul>

    </div>

</div>