<app-navbar1></app-navbar1>
<div class="container">
    <div class="jumbotron" style=" background-color: white">
        <h2>
            Notifications</h2>
        <a data-toggle="modal" href="#myModal" style="text-decoration:none;">
            <div class="border fluid" rounded-sm>
                <!-- <div class="row"> -->

                <div class="mr-auto mt-3 mt-auto">
                    <p>Trainer MS.Leela Krishnan has accepted your propose for course Bootstrap.</p>
                </div>
                <div class="mr-auto mt-3 mt-auto">
                    <a [routerLink]="['/pay']" class="d-none d-sm-block"> Pay
                    </a>
                </div>
            </div>
            <div class="border fluid" rounded-sm>
                <!-- <div class="row"> -->

                <div class="mr-auto mt-3 mt-auto">
                    <p>The request for course Machine Learning is accepted.</p>
                </div>
                <div class="mr-auto mt-3 mt-auto">
                    <a [routerLink]="['/pay']" class="d-none d-sm-block"> Pay
                    </a>
                </div>
            </div>
            <div class="border fluid" rounded-sm>
                <!-- <div class="row"> -->

                <div class="mr-auto mt-3 mt-auto">
                    <p>Sorry! the request is denied due to invalid response.</p>
                </div>

            </div>