<app-navbar1></app-navbar1>
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Skills</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Name</h5>
                            <p>Leela Krishnan</p>

                            <h5>Email</h5>
                            <p>leelakrish60@gmail.com</p>

                            <h5>Contact</h5>
                            <p>9056321763</p>

                            <h5>Profession</h5>
                            <p>Web Designer</p>

                        </div>
                        <br>
                        <div></div>
                        <div class="col-md-12">
                            <h4 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"
                                    style="font-family: 'Times New Roman', Times, serif;color:black"></span>
                                Messages</h4>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Proposal for the course Html5'</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p> users added in course'Javascipt'</p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">

                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <p>Html,CSS,SCSS</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-info progress-bar" style="width:100%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>JavaSript</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-info progress-bar" style="width:80%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>UI/UX</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-info progress-bar" style="width:90%"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                            <h4>Experiences</h4>
                            <p> 9 years of experiences in IT field.</p>
                            <p> Gone through 20 main projects</p>
                        </div>
                </div>
                <div class="tab-pane" id="edit">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Front-end tool</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Technologies</label>
                            <div class="col-lg-9">
                                    <select class="form-control">
                                            <option value="4" checked>Select</option>
                                            <option value="0" >Artificial Intelligence</option>
                                            <option value="1">Machine Language</option>
                                            <option value="2">Angular</option>
                                            <option value="3">Python</option>
                                        </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                </div>
                   
                
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <h3 class="mb-3" style="font-family: 'Times New Roman', Times, serif;color:black">Leela Krishnan</h3>
            <img src="https://icon-library.net/images/user-icon-jpg/user-icon-jpg-18.jpg"
                class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" height="150">
            <h6 class="mt-2">Upload a different photo</h6>

            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>